* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(194, 0, 0, 0), rgb(143, 0, 0)),
    url("logo.jpg");
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.back {
 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typo {
  padding: 40px 80px;
  border-radius: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 140%;
  height: 130%;
}
.btn {
  margin-top: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  background-color: rgba(255, 255, 255, 0.692);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 60px;
  border-radius: 10px;
  color: rgb(160, 0, 0);
  font-size: large;
}

.btn a:hover {
  background-color: rgb(160, 0, 0);
  color: white;
}

@media (max-width: 979px) {
  .typo {
    width: 110%;
    height: 300px;
  }
}
